<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>servlets.ShopServlet</servlet-class>
    <init-param>
      <param-name>CHECKOUT_PAGE</param-name>
      <param-value>/checkout.jsp</param-value>
    </init-param>
    <init-param>
      <description>The Database URL to use</description>
      <param-name>JDBC_URL</param-name>
      <param-value>jdbc:mysql://localhost/olle?user=user&amp;password=user&amp;verifyServerCertificate=false&amp;useSSL=true</param-value>
    </init-param>
    <init-param>
      <param-name>SHOW_PAGE</param-name>
      <param-value>/show.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>THANKYOU_PAGE</param-name>
      <param-value>/thankyou.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>DETAIL_PAGE</param-name>
      <param-value>/detail.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>BYE_PAGE</param-name>
      <param-value>/bye.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>PROFILE_PAGE</param-name>
      <param-value>/profile.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>USER_PAGE</param-name>
      <param-value>/user.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>CHECKOUT_REDIRECT_PAGE</param-name>
      <param-value>checkout.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manager</servlet-name>
    <servlet-class>servlets.Manager</servlet-class>
    <init-param>
      <description>The Database URL to use</description>
      <param-name>JDBC_URL</param-name>
      <param-value>jdbc:mysql://localhost/olle?user=root&amp;password=panda&amp;verifyServerCertificate=false&amp;useSSL=true</param-value>
    </init-param>
    <init-param>
      <param-name>MANAGER_PAGE</param-name>
      <param-value>/manager/manager.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>USER_PAGE</param-name>
      <param-value>/manager/user.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>SHOW_PRODUCTS_PAGE</param-name>
      <param-value>/manager/show_products.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>SHOW_COMPONENTS_PAGE</param-name>
      <param-value>/manager/show_components.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>PROFILE_PAGE</param-name>
      <param-value>/manager/profile.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>DETAIL_PAGE</param-name>
      <param-value>/manager/detail.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>ADD_PRODUCT_PAGE</param-name>
      <param-value>/manager/add_product.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>ADD_COMPONENT_PAGE</param-name>
      <param-value>/manager/add_component.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>/bookshop</taglib-uri>
      <taglib-location>/WEB-INF/bookshop.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>TheShop</web-resource-name>
      <url-pattern>/checkout.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tomcat</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>TheShopManager</web-resource-name>
      <url-pattern>/manager/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager-script</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>tomcat</role-name>
  </security-role>
  <security-role>
    <role-name>manager-script</role-name>
  </security-role>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/except.jsp</location>
  </error-page>
</web-app>